* {
  font-family: "Times New Roman";
}
  
body{
    justify-content: center;
    align-items: center;
}

div {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    border: .125vw solid black;
}

th {
    border: .125px solid black;
}

tr.header_row {
    font-size: calc(0.5em + 1vmin);
    background-color: #D3D3D3;
    border-bottom: .275vw double black;
}

tr.header_row:hover {
  background-color: #D3D3D3;
}

tr.row_highlight {
    height: 5em;
    background-color: #ededed;
}

.pokemon_row {
    height: 5em;
}

td{
    font-size: calc(0.5em + 1vmin);
    align-items: center;
}

tr:hover {
    background-color: #FFECCF;
}

img {
    width: calc(4em + 1vmin);
    height: auto;
    vertical-align: center;
}

table button.type_grass{
  background-color:#7BCE52;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  padding-right: calc(.5em + 1vmin);
  padding-left: calc(.5em + 1vmin);
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: .25em;
}

table button.type_poison{
  background-color:#A15495;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  padding-right: calc(.5em + 1vmin);
  padding-left: calc(.5em + 1vmin);
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: .25em;
}

table button.type_fire{
  background-color: #F75231;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  padding-right: calc(.5em + 1vmin);
  padding-left: calc(.5em + 1vmin);
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: .25em;
  margin-bottom: .25em;
}

table button.type_flying{
  background-color: #9CADF7;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  padding-right: calc(.5em + 1vmin);
  padding-left: calc(.5em + 1vmin);
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: .25em;
}

table button {
    min-width: 6em;
    max-width: 6em;
    border: none;
    background: transparent;
    font-size: calc(0.5em + 1vmin);
}

th a {
  text-decoration: none;
}
